/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Source+Code+Pro:wght@400;700;900&display=swap');
.font1 {font-family: 'Arvo';}
.font2 {font-family: 'Source Code Pro', monospace;}
.condensed {
    font-size: 18px;
    letter-spacing: -1px;
}
.titleBig {font-size: 2.5rem; font-weight: 600;}
.titleNormal {font-size: 2rem; font-weight: 600;}

/* COLORS */
.color1 {color: black}
.color2 {color: teal}
.color3 {color: lightgrey;}
.color4 {color: #2d4767;}
.color5 {color: #3a4043;}
.color6 {color: #ff8872 !important }
.bgColor1 {background-color: white !important;}
.bgColor2 {background-color: #5ce1e6 !important;}
.bgColor3 {background-color: lightgrey !important;}
.bgColor4 {background-color: #f6f6f6 !important;}
.bgColor5 {background-color: #ff8872 !important;}
.bgColor6 {background-color: #6C6C6C !important;}
.bgColor7 {background-color: #38b6ff !important;}

/* DISPLAY */
.flexRow {display: flex;flex-direction: row;}
.flexCol {display: flex;flex-direction: column;}
.spaceBetween {justify-content: space-between;}
.spaceAround {justify-content: space-around;}
.spaceEvenly {justify-content: space-evenly;}
.center {justify-content: center;}
.alignItemsFlexStart {align-items: flex-start;}
.alignItemsStretch {align-items: stretch;}
.alignItemsCenter {align-items: center;}
.wrap {flex-wrap: wrap !important;}
.wrapReverse {flex-wrap: wrap-reverse;}
.verticalAlign {
    vertical-align: top;
    height: 1rem;
    line-height: 1rem;
}

/* FORMAT */
.bold {font-weight: bold;}
.noDecoration {text-decoration: none;}
.noMargin {margin: 0 !important;}
.paddingVertical {padding-top: 1rem; padding-bottom: 1rem;}
.paddingRight {padding-right: 1rem;}
.paddingLeft {padding-left: 1rem;}
.padding {padding: 2rem;}
.paddingBottom {padding-bottom: 0.5rem;}
.textAlignRight {text-align: right;}
.textAlignLeft {text-align: left;}
.textAlignCenter {text-align: center;}
.marginAuto {margin: auto;}
.marginRight {margin-right: 1rem;}
.marginLeft {margin-left: 1rem;}
.marginXauto {margin-left: auto;margin-right: auto;}
.marginVertical {margin-top: 1rem; margin-bottom: 1rem;}

/* WIDTH AND HEIGHT */
.height100{height: 100%;}
.width10 {width: 10%;}
.width20 {width: 20%;}
.width30 {width: 30%;}
.width40 {width: 40%;}
.width50 {width: 50%;}
.width60 {width: 60%;}
.width70 {width: 70%;}
.width80 {width: 80%;}
.width90 {width: 90%;}
.width100 {width: 100%;}
.minWidth50 {min-width: 50% !important;}

/* POSITION */
.relative {position: relative;}
.fixed {position: fixed;}
.absolute {position: absolute;}

